@charset "utf-8";

.new-task {
  max-width: 1000px;
  padding: 10px 25px 0;
  margin: 0 auto;

  &-form {
    color: #555555;
  }

  &-select-list,
  &-title,
  &-detail {
    width: 300px;
    margin-bottom: 25px;
  }

  &-detail {
    height: 200px;
  }

  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-top: 1em;
  }
}

.error-message {
  color: #ff3333;
}
